In [1]:
import pandas as pd

In [2]:
t20 = pd.read_html('http://www.howstat.com/cricket/Statistics/IPL/SeriesMatches.asp?s=2008')

In [3]:
len(t20)

7

In [4]:
t20[3]

                                                   0
0  Match  Date  Teams  Ground  Result  1  18/04/2...

In [5]:
t20[4]

                                                   0
0  Match  Date  Teams  Ground  Result  1  18/04/2...

In [10]:
new_header = ipl2008.iloc[0]
ipl2008 = ipl2008.iloc[1:]
ipl2008.columns = new_header
ipl2008.head()

,Match,Date,Teams,Ground,Result,NaN
1,1,18/04/2008,Royal Challengers Bangalore v Kolkata Knight R...,"Bengaluru, Bangalore",Kolkata Knight Riders won by 140 Runs,Scorecard
2,2,19/04/2008,Punjab Kings v Chennai Super Kings,"Mohali, Chandigarh",Chennai Super Kings won by 33 Runs,Scorecard
3,3,19/04/2008,Delhi Capitals v Rajasthan Royals,Delhi,Delhi Capitals won by 9 Wickets,Scorecard
4,4,20/04/2008,Kolkata Knight Riders v Deccan Chargers,Kolkata,Kolkata Knight Riders won by 5 Wickets,Scorecard
5,5,20/04/2008,Mumbai Indians v Royal Challengers Bangalore,Mumbai,Royal Challengers Bangalore won by 5 Wickets,Scorecard

In [2]:
url = 'http://www.howstat.com/cricket/Statistics/IPL/SeriesMatches.asp?s'

In [3]:
def get_table(year, url=url):
    year_url = f'{url}={year}'
    
    df = pd.read_html(year_url)
    df = df[5]
    new_header = df.iloc[0]
    df = df.iloc[1:]
    df.columns = new_header
    
    return df

In [4]:
ipl = pd.DataFrame()

In [5]:
for year in range(2008, 2022):
    table = get_table(year)
    ipl = ipl.append(table)

In [6]:
ipl.head()

,Match,Date,Teams,Ground,Result,NaN
1,1,18/04/2008,Royal Challengers Bangalore v Kolkata Knight R...,"Bengaluru, Bangalore",Kolkata Knight Riders won by 140 Runs,Scorecard
2,2,19/04/2008,Punjab Kings v Chennai Super Kings,"Mohali, Chandigarh",Chennai Super Kings won by 33 Runs,Scorecard
3,3,19/04/2008,Delhi Capitals v Rajasthan Royals,Delhi,Delhi Capitals won by 9 Wickets,Scorecard
4,4,20/04/2008,Kolkata Knight Riders v Deccan Chargers,Kolkata,Kolkata Knight Riders won by 5 Wickets,Scorecard
5,5,20/04/2008,Mumbai Indians v Royal Challengers Bangalore,Mumbai,Royal Challengers Bangalore won by 5 Wickets,Scorecard

In [2]:
import numpy as np

In [8]:
ipl.drop(np.nan, axis = 1, inplace = True)

In [9]:
ipl.shape

(884, 5)

In [27]:
ipl.to_csv('ipl_t20(html).csv', index = False)