In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [ ]:
page = requests.get('http://www.howstat.com/cricket/Statistics/IPL/SeriesMatches.asp?s=2008')
page

In [ ]:
page.status_code

In [5]:
soup = BeautifulSoup(page.content, 'html.parser')

In [7]:
html = list(soup.children)[3]

In [ ]:
list(html.children)

In [9]:
body = list(html.children)[5]

In [ ]:
list(body.children)

In [3]:
url = 'http://www.howstat.com/cricket/Statistics/IPL/SeriesMatches.asp?s'

In [4]:
def get_table(year, url=url):
    year_url = f'{url}={year}'
    page = requests.get(year_url)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    rows = []
    for child in soup.find_all('table', {'class':'TableLined'})[0].children:
        row = []
        for td in child:
            try:
                row.append(td.text.replace('\n', ''))
            except:
                continue
        if len(row) > 0:
            rows.append(row)

    df = pd.DataFrame(rows[1:], columns=rows[0])
    return df

In [7]:
ipl = pd.DataFrame()

In [8]:
for year in range(2008, 2022):
    table = get_table(year)
    ipl = ipl.append(table)

In [9]:
ipl.sample(10)

,,\r Match\r,,\r Date\r,,\r Teams\r,,\r Ground\r,,\r Result\r,,\r Â \r,
52,,\r 53\r\t\t\t\t\t\t\t...,,\r 04/05/2019\r ...,,\r Delhi Capitals v R...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tDelhi\r ...,,\r Delhi Capitals won...,,Scorecard,
53,,\r 54\r\t\t\t\t\t\t\t...,,\r 18/04/2010\r ...,,\r Punjab Kings v Che...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tDharamsala\r ...,,\r Chennai Super King...,,Scorecard,
5,,\r 6\r\t\t\t\t\t\t\t\...,,\r 14/04/2021\r ...,,\r Royal Challengers ...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tChennai\r ...,,\r Royal Challengers ...,,Scorecard,
34,,\r 35\r\t\t\t\t\t\t\t...,,\r 29/04/2011\r ...,,\r Royal Challengers ...,,"\r\t\t\t\t\t\t\t\t\t\t\t\t\tBengaluru, Bangalo...",,\r Royal Challengers ...,,Scorecard,
33,,\r 34\r\t\t\t\t\t\t\t...,,\r 02/05/2015\r ...,,\r Sunrisers Hyderaba...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tHyderabad\r ...,,\r Sunrisers Hyderaba...,,Scorecard,
36,,\r 37\r\t\t\t\t\t\t\t...,,\r 28/04/2012\r ...,,\r Chennai Super King...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tChennai\r ...,,\r Punjab Kings won b...,,Scorecard,
2,,\r 3\r\t\t\t\t\t\t\t\...,,\r 08/04/2018\r ...,,\r Kolkata Knight Rid...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tKolkata\r ...,,\r Kolkata Knight Rid...,,Scorecard,
25,,\r 26\r\t\t\t\t\t\t\t...,,\r 27/04/2018\r ...,,\r Delhi Capitals v K...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tDelhi\r ...,,\r Delhi Capitals won...,,Scorecard,
30,,\r 31\r\t\t\t\t\t\t\t...,,\r 15/04/2019\r ...,,\r Mumbai Indians v R...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tMumbai\r ...,,\r Mumbai Indians won...,,Scorecard,
16,,\r 17\r\t\t\t\t\t\t\t...,,\r 22/03/2010\r ...,,\r Mumbai Indians v K...,,\r\t\t\t\t\t\t\t\t\t\t\t\t\tMumbai\r ...,,\r Mumbai Indians won...,,Scorecard,

In [10]:
ipl.shape

(884, 13)

In [11]:
ipl.columns = ['', 'Match', '','Date', '','Teams', '','Ground', '','Result', '','Score', '']
ipl = ipl[['Match', 'Date', 'Teams', 'Ground', 'Result', 'Score']]
ipl['Match'] = ipl['Match'].str.lstrip('\r                          ').str.rstrip('\r\t\t\t\t\t\t\t\t\t\t\t\t')
ipl['Date'] = ipl['Date'].str.lstrip('\r                          ').str.rstrip('\r                        ')
ipl['Teams'] = ipl['Teams'].str.lstrip('\r                          ').str.rstrip('\r                        ')
ipl['Ground'] = ipl['Ground'].str.lstrip('\r\t\t\t\t\t\t\t\t\t\t\t\t\t').str.rstrip('\r                        ')
ipl['Result'] = ipl['Result'].str.lstrip('\r                          ').str.rstrip('\r                        ')
ipl.drop('Score', axis = 1, inplace = True)

In [12]:
ipl.head()

,Match,Date,Teams,Ground,Result
0,1,18/04/2008,Royal Challengers Bangalore v Kolkata Knight R...,"Bengaluru, Bangalore",Kolkata Knight Riders won by 140 Runs
1,2,19/04/2008,Punjab Kings v Chennai Super Kings,"Mohali, Chandigarh",Chennai Super Kings won by 33 Runs
2,3,19/04/2008,Delhi Capitals v Rajasthan Royals,Delhi,Delhi Capitals won by 9 Wickets
3,4,20/04/2008,Kolkata Knight Riders v Deccan Chargers,Kolkata,Kolkata Knight Riders won by 5 Wickets
4,5,20/04/2008,Mumbai Indians v Royal Challengers Bangalore,Mumbai,Royal Challengers Bangalore won by 5 Wickets

In [13]:
ipl.shape

(884, 5)

In [14]:
ipl.to_csv('ipl_t20(soup).csv')