In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import dash

In [2]:
from dash import dcc
from dash import html

In [3]:
from dash.dependencies import Input, Output

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
grnds = pd.read_csv('pitchwin.csv')
days = pd.read_csv('MatchDay.csv')
teams = pd.read_csv('OppTeam.csv')

In [5]:
grnds.head()

    Ground  Cskplayed  Cskwon   Win%  Lose%
0  Chennai         56      40  71.43  28.57
1   Mumbai         25      15  60.00  40.00
2    Dubai         14       9  64.29  35.71
3  Kolkata         11       5  45.45  54.55
4    Delhi         10       7  70.00  30.00

In [6]:
days

         Day  Cskplayed  Cskwon   Win%  Lose%
0   Saturday         41      25  60.98  39.02
1     Sunday         38      20  52.63  47.37
2  Wednesday         24      16  66.67  33.33
3    Tuesday         24      16  66.67  33.33
4   Thursday         24      15  62.50  37.50
5     Friday         24      13  54.17  45.83
6     Monday         19      12  63.16  36.84

In [25]:
teams['Opponent'].unique()

array(['Mumbai Indians', 'Rajasthan Royals', 'Punjab Kings',
       'Delhi Capitals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Kolkata Knight Riders', 'Pune Warriors',
       'Kochi Tuskers Kerala'], dtype=object)

In [8]:
grnds['Ground'].unique()

array(['Chennai', 'Mumbai', 'Dubai', 'Kolkata', 'Delhi', 'Bengaluru',
       'Pune', 'Abu Dhabi', 'Sharjah', 'Mohali', 'Jaipur', 'Hyderabad',
       'Ranchi', 'Durban', 'Visakhapatnam', 'Port Elizabeth',
       'Johannesburg', 'East London', 'Dharamsala', 'Centurion',
       'Ahmedabad', 'Raipur', 'Nagpur', 'Kochi', 'Kimberley', 'Cuttack',
       'Cape Town'], dtype=object)

In [9]:
csk = pd.read_csv('csk(sql).csv')
csk.head()

,Match,Date,Ground,Team1,Team2,Winner,Win by,Opponent,csk,Day
0,2,2008-04-19,Mohali,Punjab Kings,Chennai Super Kings,Chennai Super Kings,1st Batting,Punjab Kings,1,Saturday
1,8,2008-04-23,Chennai,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,1st Batting,Mumbai Indians,1,Wednesday
2,11,2008-04-26,Chennai,Chennai Super Kings,Kolkata Knight Riders,Chennai Super Kings,Chasing,Kolkata Knight Riders,1,Saturday
3,15,2008-04-28,Bengaluru,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,1st Batting,Royal Challengers Bangalore,1,Monday
4,20,2008-05-02,Chennai,Chennai Super Kings,Delhi Capitals,Delhi Capitals,Chasing,Delhi Capitals,0,Friday

In [10]:
app = dash.Dash(__name__)

In [11]:
app.layout = html.Div(children=[html.H1('CSK Pitch Records Dashboard',
                                        style={'textAlign': 'center', 'color': '#503D36',
                                               'font-size': 40}),
                                # TASK 1: Add a dropdown list to enable Launch Site selection
                                # The default select value is for ALL sites
                                # dcc.Dropdown(id='site-dropdown',...)
                                dcc.Dropdown(id='pitch-dropdown',
                                            options=[
                                                         {'label': 'ALL SITES', 'value': 'ALL'},
                                                         {'label': 'Chennai', 'value': 'Chennai'},
                                                         {'label': 'Mumbai', 'value': 'Mumbai'},
                                                         {'label': 'Dubai', 'value': 'Dubai'},
                                                         {'label': 'Kolkata', 'value': 'Kolkata'},
                                                         {'label': 'Delhi', 'value': 'Delhi'},
                                                         {'label': 'Bengaluru', 'value': 'Bengaluru'},
                                                         {'label': 'Pune', 'value': 'Pune'},
                                                         {'label': 'Abu Dhabi', 'value': 'Abu Dhabi'},
                                                         {'label': 'Sharjah', 'value': 'Sharjah'},
                                                         {'label': 'Mohali', 'value': 'Mohali'},
                                                         {'label': 'Jaipur', 'value': 'Jaipur'},
                                                         {'label': 'Hyderabad', 'value': 'Hyderabad'},
                                                         {'label': 'Ranchi', 'value': 'Ranchi'},
                                                         {'label': 'Durban', 'value': 'Durban'},
                                                         {'label': 'Visakhapatnam', 'value': 'Visakapatnam'},
                                                         {'label': 'Port Elizabeth', 'value': 'Port Elizabeth'},
                                                         {'label': 'Johannesburg', 'value': 'Johannesburg'},
                                                         {'label': 'East London', 'value': 'East London'},
                                                         {'label': 'Dharamsala', 'value': 'Dharamsala'},
                                                         {'label': 'Centurion', 'value': 'Centurion'},
                                                         {'label': 'Ahmedabad', 'value': 'Ahmedabad'},
                                                         {'label': 'Raipur', 'value': 'Raipur'},
                                                         {'label': 'Nagpur', 'value': 'Nagpur'},
                                                         {'label': 'Kochi', 'value': 'Kochi'},
                                                         {'label': 'Kimberley', 'value': 'Kimberley'},
                                                         {'label': 'Cuttack', 'value': 'Cuttack'},
                                                         {'label': 'Cape Town', 'value': 'Cape Town'}
                                                    ],
                                            value='ALL',
                                            placeholder="Select a Pitch here", 
                                            searchable=True),
                                html.Br(),

                                # TASK 2: Add a pie chart to show the total successful launches count for all sites
                                # If a specific launch site was selected, show the Success vs. Failed counts for the site
                                html.Div(dcc.Graph(id='success-pie-chart')),
                               ])

@app.callback(
    Output(component_id='success-pie-chart', component_property='figure'),
    Input(component_id='pitch-dropdown', component_property='value'))

def build_graph(pitch_dropdown):
    if pitch_dropdown == 'ALL':
        piechart = px.pie(data_frame = csk, names='Ground', values='csk' ,title='Total CSK Wins for All Pitches')
        return piechart
    else:
        #specific_df = spacex_df['Launch Site']
        specific_df=csk.loc[csk['Ground'] == pitch_dropdown]
        piechart = px.pie(data_frame = specific_df, names = 'csk', title='CSK performance for a Specific Pitch')
        return piechart

In [18]:
palette_color = sns.color_palette('pastel')

In [23]:
app.layout = html.Div(children=[html.H1('CSK Match Days Records Dashboard',
                                        style={'textAlign': 'center', 'color': '#503D36',
                                               'font-size': 40}),
                                # TASK 1: Add a dropdown list to enable Launch Site selection
                                # The default select value is for ALL sites
                                # dcc.Dropdown(id='site-dropdown',...)
                                dcc.Dropdown(id='days-dropdown',
                                            options=[
                                                         {'label': 'ALL DAYS', 'value': 'ALL'},
                                                         {'label': 'Saturday', 'value': 'Saturday'},
                                                         {'label': 'Sunday', 'value': 'Sunday'},
                                                         {'label': 'Wednesday', 'value': 'Wednesday'},
                                                         {'label': 'Tuesday', 'value': 'Tuesday'},
                                                         {'label': 'Thursday', 'value': 'Thursday'},
                                                         {'label': 'Friday', 'value': 'Friday'},
                                                         {'label': 'Monday', 'value': 'Monday'}
                                                    ],
                                            value='ALL',
                                            placeholder="Select a Day here", 
                                            searchable=True),
                                html.Br(),

                                # TASK 2: Add a pie chart to show the total successful launches count for all sites
                                # If a specific launch site was selected, show the Success vs. Failed counts for the site
                                html.Div(dcc.Graph(id='success-pie-chart')),
                               ])

@app.callback(
    Output(component_id='success-pie-chart', component_property='figure'),
    Input(component_id='days-dropdown', component_property='value'))

def build_graph(days_dropdown):
    if days_dropdown == 'ALL':
        piechart = px.pie(data_frame = csk, names='Day', values='csk', title='Total CSK matches for All Days')
        #piechart = plt.pie(days['Win%'], labels = days['Day'], colors=palette_color, autopct='%.2f%%')
        return piechart
    else:
        #specific_df = spacex_df['Launch Site']
        specific_df=csk.loc[csk['Day'] == days_dropdown]
        piechart = px.pie(data_frame = specific_df, names = 'csk', title='CSK performance for a Specific Day')
        #piechart = plt.pie([specific_df['Win%'], specific_df['Lose%']], labels = ['Win', 'Lose'], colors=palette_color, autopct='%.2f%%')
        return piechart

In [24]:
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Jun/2022 15:47:35] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Jun/2022 15:47:42] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [06/Jun/2022 15:47:42] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [06/Jun/2022 15:47:43] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [06/Jun/2022 15:47:43] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -
127.0.0.1 - - [06/Jun/2022 15:47:43] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -